@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Nunito:wght@300;400;600;700&display=swap');

html, body, * {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

.unit-title-playfair {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
